.wrapper {
    position:relative;
    display:inline-block;
  }

.wrapper:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background-image: linear-gradient(to right, var(--pi-primary--dark), var(--pi-primary--light));
  opacity: 0.25;
}