@value v-fnt-bold from 'ui/assets/styles/variables.module.css';

.logo {
  font-weight: v-fnt-bold;
  font-size: 2rem;
}

.logo a {
  color: var(--white);
  text-decoration: none;
}

.logo a:hover {
  color: var(--white);
}
