.tile {
  display: inline-block;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.25s ease-in-out;
}

.redTile {
  border: 3px solid var(--color-red);
}

.greenTile {
  border: 3px solid var(--color-green);
}

.greenTile:hover {
  background-color: var(--color-green);
}

.redTile img {
  filter: invert(13%) sepia(80%) saturate(5215%) hue-rotate(358deg)
    brightness(87%) contrast(120%);
}

.greenTile img {
  filter: invert(66%) sepia(51%) saturate(6011%) hue-rotate(83deg)
    brightness(102%) contrast(112%);
  transition: all 0.2s ease-in-out;
}

.greenTile img:hover {
  filter: invert(66%) sepia(51%) saturate(6011%) hue-rotate(83deg)
    brightness(102%) contrast(112%);
}

.redTile:hover {
  background-color: var(--color-red);
}

.redTile:hover img,
.greenTile:hover img {
  filter: invert(95%) sepia(90%) saturate(40%) hue-rotate(73deg)
    brightness(107%) contrast(100%);
}
