@value v-border-radius from 'ui/assets/styles/variables.module.css';

.comment {
  background-color: var(--white);
  border-radius: v-border-radius;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.nickname {
  font-weight: 700;
  margin: 0;
}
