@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --background: #f1f1f1;
  --color: #252525;

  --white: #ffffff;
  --color-gray: #f0f1f6;
  --color-gray--dark: #b4b4b4;
  --color-gray--darker: #9a9a9c;

  --pi-primary--dark: #4540ca;
  --pi-primary: #504be5;
  --pi-primary--light: #535de3;
  --pi-primary--lighter: #8582ed;

  --border: #b4b4b4;
  --outline: #424ccb;

  --gold: #ffd300;
  --silver: #c0c0c0;
  --brown: #964b00;
}

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--background);
}
