@value bp-md from 'ui/assets/styles/variables.module.css';

.bgGray {
  background-color: var(--color-gray);
  margin-top: 8rem;
}

.bubbleDivWrapper {
  position: relative;
  bottom: 77px;
  padding: 0 !important;
}

@media (max-width: bp-md) {
  .bubbleDivWrapper {
    bottom: 40px;
  }
  .bgGray {
    margin-top: 1rem;
  }
}
