@value bp-md from 'ui/assets/styles/variables.module.css';

.dropdown-item:active {
  background-color: var(--pi-primary--dark) !important;
}

.home__bubbleDiv .searchBar__inputContainer,
.home__bubbleDiv .searchBar__inputContainer input,
.home__bubbleDiv .searchBar__buttonContainer,
.home__bubbleDiv .searchBar__buttonContainer button {
  width: 100%;
}

@media (min-width: 768px) {
  .home__bubbleDiv .searchBar__inputContainer,
  .home__bubbleDiv .searchBar__buttonContainer {
    width: initial;
  }

  .home__bubbleDiv .searchBar__inputContainer input {
    width: 40vw;
    max-width: 700px;
  }

  .home__bubbleDiv .searchBar__buttonContainer button {
    width: 12vw;
    max-width: 150px;
    min-width: 120px;
  }
}

.customTabs {
  display: flex;
  justify-content: center;
  border-bottom: 0;
}

.customTabs .nav-link {
  border: none;
  color: var(--black);
  font-weight: 700;
}

.customTabs .nav-tabs .nav-link:hover {
  border: 3px solid red !important;
  border-color: transparent !important;
}

.customTabs .nav-link.active {
  border: none !important;
  border-color: transparent !important;
  border-bottom: 2px solid var(--pi-primary--dark) !important;
}
