@value bp-md from 'ui/assets/styles/variables.module.css';

.nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
}

.nav-link:hover {
  color: white !important;
}

.dropdown-item:active {
  background-color: var(--pi-primary--dark) !important;
}

.home__bubbleDiv .searchBar__inputContainer,
.home__bubbleDiv .searchBar__inputContainer input,
.home__bubbleDiv .searchBar__buttonContainer,
.home__bubbleDiv .searchBar__buttonContainer button {
  width: 100%;
}

@media (min-width: 768px) {
  .home__bubbleDiv .searchBar__inputContainer,
  .home__bubbleDiv .searchBar__buttonContainer {
    width: initial;
  }

  .home__bubbleDiv .searchBar__inputContainer input {
    width: 40vw;
    max-width: 700px;
  }

  .home__bubbleDiv .searchBar__buttonContainer button {
    width: 12vw;
    max-width: 150px;
    min-width: 120px;
  }
}
